header
{
    width: 100%;
    height: 1000px;
    background-image: url(../img/wall.jpg);
    background-position: center;
   /* background-size: cover;*/
}

.logo{
    width: 300px;
    margin: 20px 50px;
}

header ul li{
    width: 30px;
    height: 5px;
    list-style-type: none;
    background-color: darkred;
}

header ul{
    margin: 20px 20px;
    cursor: pointer;
}


.left{
    float: left;
}

.right{
    float: right;
}

.clrs{
    clear: both;
}

.block
{
    width: 100%;
    height: 50px;
    margin-top: 800px;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 50px;
    font-size: 30px;
}


.photo{
    width: 20%;
    height: 250px;
    
}

.zagreus{
    width: 30%;
}

.resp{
    width: 100%;
    height: auto;
}


.absolute{
    position: absolute;
   
}

.relative{
    position: relative; 
}

.contain
{
    width: 80%;
    
    margin: auto;

}

div .txtL, .txtR{
    width: 40%;
    margin-top: 80px;
    margin-right: 20px;
}


.droite{
    right:100px;
}

.gauche{
    left: 100px;
    top:-50px;
}
h2{
    text-align: center;
}

.txtR p{
    text-align: right;
     
}

.txtL p{
    text-align: left;
}

.rouge{
    background-color: darkred;
    margin-top: 40px;
    height: 500px;
    color: darkorange;
}

.jaune{
    background-color: darkorange;
    height: 500px;
    color: darkred;
}

.grey{
    background-color: gray;
    height: 500px;
    color: darkslateblue;
}

.bleu{
    background-color: darkblue;
    height: 500px;
    color: white;
}

.hades{
    width: 35%;
    top: -50px;
}

.thanatos{
    width: 40%;
    top: -50px;
}

.megarea{
    width: 33%;
    top: -53px;
}

section .block{
    margin: 0;
}
section h1{
    margin: 0;
}

#dieux{
    background-image: url(../img/fond2.jpeg);
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 100%;
}


@font-face{
    font-family: 'hades';
    src: url(../fonts/HADES.otf);
}

h1, h2{
    font-family: 'hades';
}

p{
    font-family: 'Roboto';
    font-size: 16px;
}



.athena{
    width: 22%;
    
}

.zeus{
    width: 30%;
   
}

.artemis{
    width: 22% ;
}

.demether{
    width: 25% ;
    bottom: -10px;

}

.poseidon{
    width: 35%;
    bottom: 0px;
}

.ares{
    width: 25% ;
    bottom: 0px;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: centrer;
    margin: 50px 20px 50px;
}

.centrer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.deux{
    bottom: -16px;
}


.placer{
    border: solid 1px black;
    width: 200px;
    padding: 5px 20px;   
    color: aliceblue;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}

.autoresp{
    width: 100%;
    height: 250px;
}